*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 11px;
    padding: 2px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

body{
    justify-content: center;
    align-items: center;
    background-image: url(galactus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0 ;
    padding: 0;
}
.intro{
    position: static;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.intro .develop{
    position: static;
    background-color:rgba(36, 35, 35, 0.418) ;
    border-radius: 20px;
    box-shadow: 0px 15px 35px ;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
}
.intro .develop .content{
    position: relative;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-decoration:solid;
}
.intro .develop .content img{
    width: 330px;
    height: 280px;
    justify-content: center;
    align-items: center;
}
.intro .develop .content h1{
    text-align: center;
}
.intro .develop .content .hotfix h2{
    text-align: center;
}
.intro .cierre{
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: center;
    text-decoration:solid;
}
.intro .cierre .buttom input[type=submit]{
    background-color: #38383883;
    color: #ffffff;
    padding: 15px ;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 5px black;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
input[type=submit]:hover{
    opacity: 0.6;
}


